<% if @user.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<h2>User info</h2>
<%= form_for(@user) do |f| %>
<h4>Name</h4>
<%= f.text_field :name %>
<h4>Images</h4>
<%= f.attachment_field :profile_image %>
<h4>Introduction</h4>
<%= f.text_area :introduction %><br>
<%= f.submit "UPdate User" %>
<% end %>