 <%= render 'layouts/sidebar' %>
 <div class="col-sm-9">
    <h2>Books</h2>
    <table class="table table-hover table-inverse">
      <tr>
        <th class="col-md-2 table-noborder"></th>
        <th class="col-md-3 table-noborder">Title</th>
        <th class="col-md-3 table-noborder">Opinion</th>
        <th class="col-md-2 table-noborder"></th>
        <th class="col-md-2 table-noborder"></th>
      </tr>
      <% @books.each do |book| %>
        <tr>
          <td>
          <%= attachment_image_tag @user, :profile_image, size:'50x50' %>
          </td>
          <td>
          <%= link_to book_path(book.id)  do %>
            <%= book.title %>
          <% end %>
          </td>
          <td>
            <%= book.body %>
          </td>
        </tr>
      <% end %>
    </table>
    </div>
  </div>
  </div>
</div>
