
<div class="container"><!--追加-->
  <div class="row">
  <div class="col-xs-3 sidenav">
  <div id="success_explanation">
  <p><%= flash[:message] %></p>
  </div>
  <div class="success_message">
  <p><%= flash[:notice] %></p>
  </div>

    <h2>User info</h2>
<%= attachment_image_tag @user, :profile_image, size:'200x200' %>
<table class="table">
      <tbody><tr></tr>
      <tr>
        <th>name</th>
        <th><%= @user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= @user.introduction %></th>
      </tr>
</tbody></table>
<div class="row">
  <%= link_to edit_user_path(current_user) do %>
  <p class="col-xs-12 btn btn-default glyphicon glyphicon-wrench" ></p>
  <% end %>
</div>

<% if @book.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <h2>New Book</h2>
  <%= form_for(@bbook) do |f| %>
     <h4>Title</h4>
     <%= f.text_field :title %>

     <h4>Opinion</h4>
     <%= f.text_field :body %><br><br>

     <%= f.submit "Create Book", class: "btn btn-primary col-xs-12 field" %>
  <% end %>
  </div>

<div class="col-xs-9">
    <h2>Book detail</h2>
    <table class="table table-hover table-inverse">
      <tr>
        <td>
        　<%= attachment_image_tag @user, :profile_image, size:'50x50' %>
        </td>
        <td>
  　　　　　<%= @book.title %>
        </td>
        <td>
            <%= @book.body %>
          </td>
            <% if @book.user_id == current_user.id %>
            <td>
            <%= link_to "Edit", edit_book_path, class:"btn-sm btn-success" %>
          </td>
          <td>
            <%= link_to "Destroy", book_path, class:"btn-sm btn-danger", method: :delete, data: {confirm: "本当に消しますか？"} %>
          </td>
        <% end %>
       </tr>
    </table>
          <%= link_to @user.name, user_path(@book.user) %>
  </div>
  </div>
  </div>